<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    
</head>

<body>
    <h1>Página01</h1>
    <p><a href="/">Home</a>
        <a href="/page1">Página1</a>
        <a href="/page2">Contato</a>
    </p>
    <p>Meu primeiro projeto</p>

</body>
</html>